@page "/"
@page "/monica"

@namespace Mas.Infrastructure.BlazorComponents

@using MudBlazor
@using Newtonsoft.Json.Linq
@using Mas.Rpc
@using Microsoft.AspNetCore.WebUtilities
@using Mas.Infrastructure.Common
@using ExtType = Rpc.Management.Event.ExternalType
@using Mgmt = Rpc.Management
@using System.Linq

@inject IJSRuntime JSRuntime
@inject MonicaBlazorCapnpUI.Services.RunMonica RunMonica
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@implements IDisposable

<MudExpansionPanels MultiExpansion=@true>
    @code {
        private Dictionary<string, bool> panelOpened = new()
        {
            { "Connections", false },
            { "BaseFiles", false },
            { "Location", false },
            { "UpdateTimeSeries", false },
            { "ClimateService", false },
            { "SoilProfile", false },
            { "CropRotation", false },
            { "OutputConfig", false },
            { "Results", true }
        };
    }
    <MudExpansionPanel @bind-IsExpanded=@panelOpened["Connections"]
                       Class=@(HideSturdyRefConnectors ? "d-none" : "")
                       Text="Connections">
        <MudGrid>
            <MudItem Class=@(HideSturdyRefConnectors ? "d-none" : "") xs="12">
                <ConnectToSturdyRef Label="Persistent capability to MONICA instance (capnp://host:port/token)"
                                    CapabilityChanged=@MonicaCapabilityChanged
                                    TCapnpInterface="Model.IEnvInstance<Common.StructuredText, Common.StructuredText>"
                                    @bind-SturdyRef=MonicaSturdyRef
                                    ConnectOnInit=@TryConnectOnInit>

                </ConnectToSturdyRef>
            </MudItem>
            <MudItem Class=@(HideSturdyRefConnectors ? "d-none" : "") xs="12">
                <ConnectToSturdyRef Label="Persistent capability to climate time series (capnp://host:port/token)"
                                    CapabilityChanged=@TimeSeriesCapabilityChanged
                                    TCapnpInterface=@Climate.ITimeSeries
                                    @bind-SturdyRef=TimeSeriesSturdyRef
                                    ConnectOnInit=@TryConnectOnInit>
                </ConnectToSturdyRef>
            </MudItem>
            <MudItem Class=@(HideSturdyRefConnectors ? "d-none" : "") xs="12">
                <ConnectToSturdyRef Label="Persistent capability to climate time series (capnp://host:port/token)"
                                    CapabilityChanged=@TimeSeriesFactoryCapabilityChanged
                                    TCapnpInterface=@Climate.IAlterTimeSeriesWrapperFactory
                                    @bind-SturdyRef=TimeSeriesFactorySturdyRef
                                    ConnectOnInit=@TryConnectOnInit>
                </ConnectToSturdyRef>
            </MudItem>
            <MudItem Class=@(HideSturdyRefConnectors ? "d-none" : "") xs="12">
                <ConnectToSturdyRef Label="Persistent capability to climate time series (capnp://host:port/token)"
                                    CapabilityChanged=@SoilServiceCapabilityChanged
                                    TCapnpInterface=@Soil.IService
                                    @bind-SturdyRef=SoilServiceSturdyRef
                                    ConnectOnInit=@TryConnectOnInit>
                </ConnectToSturdyRef>
            </MudItem>
            <MudItem Class=@(HideSturdyRefConnectors ? "d-none" : "") xs="12">
                <ConnectToSturdyRef Label="Persistent capability to climate time series (capnp://host:port/token)"
                                    CapabilityChanged=@ClimateServiceCapabilityChanged
                                    TCapnpInterface=@Climate.IService
                                    @bind-SturdyRef=ClimateServiceSturdyRef
                                    ConnectOnInit=@TryConnectOnInit>
                </ConnectToSturdyRef>
            </MudItem>
            <MudItem Class=@(HideSturdyRefConnectors ? "d-none" : "") xs="12">
                @code {
                    [Parameter]
                    public Mgmt.IFertilizerService FertilizerServiceCap { get; set; }

                    [Parameter]
                    public string FertilizerServiceSturdyRef { get; set; } = "";//"capnp://login01.cluster.zalf.de:9998";

                    [Parameter]
                    public EventCallback<Mgmt.IFertilizerService> FertilizerServiceCapChanged { get; set; }

                    private async Task FertilizerServiceCapabilityChanged(Mgmt.IFertilizerService service)
                    {
                        if (service == null) return;

                        if (FertilizerServiceCap != service) FertilizerServiceCap?.Dispose();
                        FertilizerServiceCap = service;
                    }
                }
                <ConnectToSturdyRef Label="Persistent capability to fertilizer service (capnp://host:port/token)"
                                    CapabilityChanged=@FertilizerServiceCapabilityChanged
                                    TCapnpInterface=@Mgmt.IFertilizerService
                                    @bind-SturdyRef=FertilizerServiceSturdyRef
                                    ConnectOnInit=@TryConnectOnInit>
                </ConnectToSturdyRef>
            </MudItem>
        </MudGrid>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Base sim/crop/site.json" @bind-IsExpanded=@panelOpened["BaseFiles"]>
        <MudExpansionPanels MultiExpansion=@true>
            @code {
                private Dictionary<string, bool> baseFilePanelOpened = new()
                {
                    { "sim", false },
                    { "crop", false },
                    { "site", false },
                    { "climate", false }
                };
            }
            <MudExpansionPanel Text="sim.json" @bind-IsExpanded=@baseFilePanelOpened["sim"]>
                <MudTextField T=@string Variant=@Variant.Outlined @bind-Text=simJsonTxt Lines=15 />
            </MudExpansionPanel>
            <MudExpansionPanel Text="crop.json" @bind-IsExpanded=@baseFilePanelOpened["crop"]>
                <MudTextField T=@string Variant=@Variant.Outlined @bind-Text=cropJsonTxt Lines=15 />
            </MudExpansionPanel>
            <MudExpansionPanel Text="site.json" @bind-IsExpanded=@baseFilePanelOpened["site"]>
                <MudTextField T=@string Variant=@Variant.Outlined @bind-Text=siteJsonTxt Lines=15 />
            </MudExpansionPanel>
            <!--
            <MudExpansionPanel Text="Base sim/crop/site.json" @bind-IsExpanded=@baseFilePanelOpened["sim"]>
                <MudTextField T=@string Label="sim.json" Variant=@Variant.Outlined @bind-Text=simJsonTxt Lines=10 />
            </MudExpansionPanel>
                -->
        </MudExpansionPanels>
    </MudExpansionPanel>
    <MudExpansionPanel @bind-IsExpanded=@panelOpened["Location"]
                       Text=@($"Data location ({Math.Round(LatLng.Item1, 2)}N/{Math.Round(LatLng.Item2, 2)}E)")>
        <GeoposPicker @bind-LatLng=LatLng
                      Width="50%" Height="400px"
                      CenterLatLng=@LatLng
                      Zoom=6>
        </GeoposPicker>
    </MudExpansionPanel>
    <MudExpansionPanel Class=@(true ? "d-none" : "")
                       @bind-IsExpanded=@panelOpened["ClimateService"]
                       Text="Choose climate data from service">
        <ClimateService ClimateServiceCap=@ClimateServiceCap
                        HideSturdyRefConnector=@true
                        HideGeoPosPicker=@true
                        LatLng=@LatLng
                        TimeSeriesCapChanged=@TimeSeriesCapabilityChanged>
        </ClimateService>
    </MudExpansionPanel>
    <MudExpansionPanel @bind-IsExpanded=@panelOpened["UpdateTimeSeries"] Text="Change climate data">
        @code {
            private bool overwriteTimeSeriesData = false;

            private List<Climate.Element> allClimateElements = new()
            {
            Climate.Element.tmin,
            Climate.Element.tavg,
            Climate.Element.tmax,
            Climate.Element.precip,
            Climate.Element.globrad,
            Climate.Element.wind,
            Climate.Element.sunhours,
            Climate.Element.cloudamount,
            Climate.Element.relhumid,
            Climate.Element.airpress,
            Climate.Element.vaporpress,
            Climate.Element.co2,
            Climate.Element.o3,
            Climate.Element.et0,
            Climate.Element.dewpointTemp
        };

            private Dictionary<Climate.AlterTimeSeriesWrapper.AlterType, string> allAlterTypes = new()
            {
            { Climate.AlterTimeSeriesWrapper.AlterType.add, "Add (+)" },
            { Climate.AlterTimeSeriesWrapper.AlterType.mul, "Mul (*)" }
        };

            private List<Climate.AlterTimeSeriesWrapper.Altered> alteredElements = new();

            private Climate.AlterTimeSeriesWrapper.Altered newAltered = new();
        }
        <MudGrid>
            <MudItem xs="12">
                <MudSwitch Checked=@overwriteTimeSeriesData
                           T=@bool
                           CheckedChanged=@(async b => {
                                                overwriteTimeSeriesData = b;
                                                if (AlterTimeSeriesWrapperCap == null) await WrapTimeSeries();
                                            })
                           Disabled=@(TimeSeriesFactoryCap == null)
                           Color=@Color.Primary
                           Label="Change" />
            </MudItem>
            <MudItem xs="12" Class=@(overwriteTimeSeriesData ? "" : "d-none")>
                <MudCard Elevation="3">
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="2">
                                <MudSelect T=@Climate.Element
                                           @bind-Value=newAltered.Element
                                           Label="New Element">
                                    @foreach (var elem in allClimateElements)
                                    {
                                        <MudSelectItem Value=@elem />
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="2">
                                <MudSelect T=@Climate.AlterTimeSeriesWrapper.AlterType
                                           @bind-Value=newAltered.Type
                                           Label="Operation">
                                    @foreach (var (type, label) in allAlterTypes)
                                    {
                                        <MudSelectItem Value=@type><MudText Typo=@Typo.body1>@label</MudText></MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="2">
                                <MudTextField @bind-Value=newAltered.Value Label="Value" />
                            </MudItem>
                            <MudItem xs="2">
                                <MudFab Color=@Color.Secondary
                                        Icon=@Icons.Material.Filled.Add
                                        Label="Add"
                                        OnClick=@(async () => {
                                              AlterTimeSeriesWrapperCap?.Alter(newAltered, false);
                                              alteredElements = (await AlterTimeSeriesWrapperCap?.AlteredElements()).ToList();
                                              StateHasChanged();
                                          }) />
                            </MudItem>
                            <MudItem xs="4"></MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12">
                <MudCard Elevation="3">
                    <MudCardContent>
                        <MudGrid>
                            @foreach (var altered in alteredElements)
                            {
                                <MudItem xs="2">
                                    <MudSelect T=@Climate.Element
                                               @bind-Value=altered.Element
                                               Label="Altered Element">
                                        @foreach (var elem in allClimateElements)
                                        {
                                            <MudSelectItem Value=@elem />
                                        }
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudSelect T=@Climate.AlterTimeSeriesWrapper.AlterType
                                               @bind-Value=altered.Type
                                               Label="Operation">
                                        @foreach (var (type, label) in allAlterTypes)
                                        {
                                            <MudSelectItem Value=@type><MudText Typo=@Typo.body1>@label</MudText></MudSelectItem>
                                        }
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudTextField @bind-Value=altered.Value Label="Value" />
                                </MudItem>
                                <MudItem xs="2">
                                    <MudFab Color=@Color.Secondary
                                            Icon=@Icons.Material.Filled.Save
                                            Label="Update"
                                            OnClick=@(async () => {await AlterTimeSeriesWrapperCap?.Alter(altered, false);}) />
                                </MudItem>
                                <MudItem xs="2">
                                    <MudFab Color=@Color.Secondary
                                            Icon=@Icons.Material.Filled.Delete
                                            Label="Delete"
                                            OnClick=@(async () => {
                                                  AlterTimeSeriesWrapperCap?.Remove(altered.Element);
                                                  var aes = await AlterTimeSeriesWrapperCap?.AlteredElements();
                                                  alteredElements = aes.ToList();
                                                  StateHasChanged();
                                              }) />
                                </MudItem>
                                <MudItem xs="2"></MudItem>
                            }
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" Class=@(true ? "d-none" : "")>
                @code {
                    private Dictionary<String, IEnumerable<float>> Name2Data = new();
                    private IEnumerable<DateTime> Dates = new List<DateTime>();
                }
                <Highchart Data=@Name2Data Dates=@Dates></Highchart>
            </MudItem>
        </MudGrid>
    </MudExpansionPanel>
    <MudExpansionPanel @bind-IsExpanded=@panelOpened["SoilProfile"] Text="Change soil profile">
        @code {
            private bool overwriteSoilProfile = false;
        }
        <MudGrid>
            <MudItem xs="12">
                <MudSwitch @bind-Checked=overwriteSoilProfile Color="Color.Primary" Label="Change" />
            </MudItem>
            <MudItem xs="12" Class=@(overwriteSoilProfile ? "" : "d-none")>
                <SoilService @ref=@soilServiceRef
                             LatLng=@LatLng
                             HideSturdyRefConnector=@true
                             SoilServiceCap=@SoilServiceCap
                             @bind-ProfileLayers=profileLayers
                             HideGeoPosPicker=@true>
                </SoilService>
            </MudItem>
        </MudGrid>
    </MudExpansionPanel>
    <MudExpansionPanel @bind-IsExpanded=@panelOpened["CropRotation"] Text="Change crop rotation">
        @code {
            private bool overwriteCropRotation = false;

            private IEnumerable<Mgmt.Event.Type> allMgmtEventTypes =
                Enum.GetValues(typeof(ExtType)).Cast<ExtType>().
                Select(et => new Mgmt.Event.Type { External = et }).Concat(
                    Enum.GetValues(typeof(Mgmt.Event.PhenoStage)).Cast<Mgmt.Event.PhenoStage>().
                    Select(ps => new Mgmt.Event.Type { Internal = ps }));

            private string mgmtEventTypeName(Mgmt.Event.Type t)
            {
                return textInfo.ToTitleCase(t.which == Mgmt.Event.Type.WHICH.External
                    ? t.External.ToString() : t.Internal.ToString());
            }

            class DateWrapper
            {
                public Mas.Common.Date cDate { get; set; }
                public DateTime? Date
                {
                    get { return cDate == null ? null : Helper.CommonDate2DateTime(cDate); }
                    set { cDate = value.HasValue ? Helper.DateTime2CommonDate(value.Value) : null; }
                }
            }
        }
        <MudGrid>
            <MudItem xs="12">
                <MudSwitch @bind-Checked=overwriteCropRotation Color="Color.Primary" Label="Change" />
            </MudItem>
            <MudItem xs="12" Class=@(overwriteCropRotation ? "" : "d-none")>
                <MudSimpleTable Style="overflow-x: auto;">
                    <thead>
                        <tr>
                            <th>When</th>
                            <th>Type</th>
                            <th>Options</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var (i, e) in cropRotation.Select((e, i) => (i, e)))
                        {
                            Func<float?, string> valid = val => null;
                            <tr>
                                <td>
                                    <MudSelect Value=@e.which
                                               T=@Mgmt.Event.WHICH
                                               ValueChanged=@(v => {
                                                              e.which = v;
                                                              switch (e.which)
                                                              {
                                                                  case Mgmt.Event.WHICH.At:
                                                                      e.At = new() { Date = new() };
                                                                      break;
                                                                  case Mgmt.Event.WHICH.Between:
                                                                      e.Between = new() { Earliest = new(), Latest = new() };
                                                                      break;
                                                                  case Mgmt.Event.WHICH.After:
                                                                      e.After = new() { Event = new() };
                                                                      break;
                                                              }
                                                          })
                                               Label="When options">
                                        <MudSelectItem Value=@Mgmt.Event.WHICH.At>AT a date</MudSelectItem>
                                        <MudSelectItem Value=@Mgmt.Event.WHICH.Between>auto BETWEEN dates</MudSelectItem>
                                        <MudSelectItem Value=@Mgmt.Event.WHICH.After>AFTER events</MudSelectItem>
                                    </MudSelect>
                                    @switch (e.which)
                                    {
                                        case Mgmt.Event.WHICH.At:
                                            var eAtDateTime = new DateWrapper { cDate = e.At.Date };
                                            <MudDatePicker Label="at date"
                                                           @bind-Date=eAtDateTime.Date
                                                           Editable="true" />
                                            break;
                                        case Mgmt.Event.WHICH.Between:
                                            if (e.Between == null) e.Between = new() { Earliest = new(), Latest = new() };
                                            var eEarliestDateTime = new DateWrapper { cDate = e.Between.Earliest };
                                            var eLatestDateTime = new DateWrapper { cDate = e.Between.Latest };
                                            <MudDatePicker Label="earliest date"
                                                           @bind-Date=eEarliestDateTime.Date
                                                           Editable="true" />
                                            <MudDatePicker Label="latest date"
                                                           @bind-Date=eLatestDateTime.Date
                                                           Editable="true" />
                                            break;
                                        case Mgmt.Event.WHICH.After:
                                            if (e.After == null) e.After = new() { Event = new() };
                                            <MudSelect @bind-Value=e.After.Event Label="Workstep">
                                                @foreach (var t in allMgmtEventTypes)
                                                            {
                                                    <MudSelectItem Value="@t">
                                                        @(textInfo.ToTitleCase(t.which == Mgmt.Event.Type.WHICH.External
                                                        ? t.External.ToString() : t.Internal.ToString()))
                                                    </MudSelectItem>
                                                            }
                                            </MudSelect>
                                            <MudTextField @bind-Value=e.After.Days
                                                          Label=@($"days after {mgmtEventTypeName(e.After.Event)}") />
                                            break;
                                    }
                                </td>
                                <td>
                                    <MudSelect Value=@e.TheType
                                               T=@ExtType
                                               ValueChanged=@(v => {
                                                                  e.TheType = v;
                                                                  //in case of automatic workstep set to between event time
                                                                  switch (v)
                                                                  {
                                                                      case ExtType.automaticSowing:
                                                                      case ExtType.automaticHarvest:
                                                                          e.which = Mgmt.Event.WHICH.Between;
                                                                          break;
                                                                  }
                                                                  StateHasChanged();
                                                              })
                                               Label="Workstep">
                                        @foreach (ExtType et in Enum.GetValues(typeof(ExtType)))
                                        {
                                            <MudSelectItem Value="@et">@textInfo.ToTitleCase(et.ToString())</MudSelectItem>
                                        }
                                    </MudSelect>
                                </td>
                                <td>
                                    @switch (e.TheType)
                                    {
                                        case ExtType.sowing:
                                            if (e.Params == null || e.Params is not Mgmt.Params.Sowing) e.Params = new Mgmt.Params.Sowing();
                                            if (e.Params is Mgmt.Params.Sowing s)
                                            {
                                                <MudCard>
                                                    <MudCardContent>
                                                        <MudSelect @bind-Value=s.Cultivar Label="Sow cultivar ...">
                                                            @foreach (Mgmt.Cultivar cult in Enum.GetValues(typeof(Mgmt.Cultivar)))
                                                                            {
                                                                <MudSelectItem Value="@cult">@textInfo.ToTitleCase(cult.ToString())</MudSelectItem>
                                                                            }
                                                        </MudSelect>
                                                        <MudTextField @bind-Value=s.PlantDensity
                                                                      Label="Plant density"
                                                                      HelperText="> 0 overwrites plant density from species parameters"
                                                                      Adornment="Adornment.End"
                                                                      AdornmentText="plants m-2" />
                                                    </MudCardContent>
                                                </MudCard>
                                            }
                                            break;
                                        case ExtType.automaticSowing:
                                            if (e.Params == null || e.Params is not Mgmt.Params.AutomaticSowing) e.Params = new Mgmt.Params.AutomaticSowing() { Sowing = new() };
                                            if (e.Params is Mgmt.Params.AutomaticSowing sa)
                                            {
                                                var s2 = sa.Sowing;
                                                valid = val => val < 0 || val > 100 ? "[0 - 100]" : null;
                                                <MudCard>
                                                    <MudCardContent>
                                                        <MudSelect @bind-Value=s2.Cultivar Label="Sow cultivar ...">
                                                            @foreach (Mgmt.Cultivar cult in Enum.GetValues(typeof(Mgmt.Cultivar)))
                                                                            {
                                                                <MudSelectItem Value="@cult">@textInfo.ToTitleCase(cult.ToString())</MudSelectItem>
                                                                            }
                                                        </MudSelect>
                                                        <MudTextField @bind-Value=s2.PlantDensity
                                                                      Label="Plant density"
                                                                      HelperText="> 0 overwrites plant density from species parameters"
                                                                      Adornment="Adornment.End"
                                                                      AdornmentText="plants m-2" />
                                                        <MudCard>
                                                            <MudCardContent>
                                                                <MudTextField @bind-Value=sa.MinTempThreshold
                                                                              Label="MinTempThreshold"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="°C" />
                                                                <MudTextField @bind-Value=sa.DaysInTempWindow
                                                                              Label="DaysInTempWindow"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="d" />
                                                                <MudTextField @bind-Value=sa.MinPercentASW
                                                                              Label="min % ASW"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="%"
                                                                              Validation=@valid />
                                                                <MudTextField @bind-Value=sa.MaxPercentASW
                                                                              Label="max % ASW"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="%"
                                                                              Validation=@valid />
                                                                <MudTextField @bind-Value=sa.Max3dayPrecipSum
                                                                              Label="max 3-day precip sum"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="mm" />
                                                                <MudTextField @bind-Value=sa.MaxCurrentDayPrecipSum
                                                                              Label="max current day precip sum"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="mm" />
                                                                <MudTextField @bind-Value=sa.TempSumAboveBaseTemp
                                                                              Label="temp sum > base temp"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="°C" />
                                                                <MudTextField @bind-Value=sa.BaseTemp
                                                                              Label="base temp"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="°C" />
                                                                <MudSwitch T=@bool
                                                                           CheckedChanged=@(b => {
                                                                                                if (b && sa.TheAvgSoilTemp == null)
                                                                                                    sa.TheAvgSoilTemp = new();
                                                                                                else if (!b && sa.TheAvgSoilTemp != null)
                                                                                                    sa.TheAvgSoilTemp = null;
                                                                                            })
                                                                           Label="Check for soil temperature?" />
                                                                @if (sa.TheAvgSoilTemp != null)
                                                                {
                                                                    <MudCard>
                                                                        <MudCardContent>
                                                                            <MudTextField @bind-Value=sa.TheAvgSoilTemp.SoilDepthForAveraging
                                                                                          Label="Soil depth for averaging"
                                                                                          Adornment="Adornment.End"
                                                                                          AdornmentText="m" />
                                                                            <MudTextField @bind-Value=sa.TheAvgSoilTemp.DaysInSoilTempWindow
                                                                                          Label="Days in soil temp windows"
                                                                                          Adornment="Adornment.End"
                                                                                          AdornmentText="d" />
                                                                            <MudTextField @bind-Value=sa.TheAvgSoilTemp.SowingIfAboveAvgSoilTemp
                                                                                          Label="Sowing if above avg soil temp"
                                                                                          Adornment="Adornment.End"
                                                                                          AdornmentText="°C" />
                                                                        </MudCardContent>
                                                                    </MudCard>
                                                                }
                                                            </MudCardContent>
                                                        </MudCard>
                                                    </MudCardContent>
                                                </MudCard>
                                            }
                                            break;
                                        case ExtType.harvest:
                                            if (e.Params == null || e.Params is not Mgmt.Params.Harvest) e.Params = new Mgmt.Params.Harvest() { OptCarbMgmtData = new() };
                                            if (e.Params is Mgmt.Params.Harvest h)
                                            {
                                                valid = val => val < 0 || val > 1 ? "[0 - 1]" : null;
                                                <MudCard>
                                                    <MudCardContent>
                                                        <MudCheckBox @bind-Checked=@h.Exported Label="Exported" />
                                                        <MudSwitch @bind-Checked=@h.OptCarbMgmtData.OptCarbonConservation
                                                                   Label="Carbon Conservation?" />
                                                        <MudCard Class=@(h.OptCarbMgmtData.OptCarbonConservation ? "" : "d-none")>
                                                            <MudCardContent>
                                                                <MudSelect @bind-Value=h.OptCarbMgmtData.CropUsage Label="CropUsage">
                                                                    <MudSelectItem Value=@Mgmt.Params.Harvest.CropUsage.biomassProduction>Biomass production</MudSelectItem>
                                                                    <MudSelectItem Value=@Mgmt.Params.Harvest.CropUsage.greenManure>Green manure</MudSelectItem>
                                                                </MudSelect>
                                                                <MudTextField @bind-Value=h.OptCarbMgmtData.CropImpactOnHumusBalance
                                                                              Label="Crop contribution to humus"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="?" />
                                                                <MudTextField @bind-Value=h.OptCarbMgmtData.ResidueHeq
                                                                              Label="ResidueHeq"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="?" />
                                                                <MudTextField @bind-Value=h.OptCarbMgmtData.OrganicFertilizerHeq
                                                                              Label="OrganicFertilizerHeq"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="?" />
                                                                <MudTextField @bind-Value=h.OptCarbMgmtData.MaxResidueRecoverFraction
                                                                              Label="MaxResidueRecoverFraction"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="Fraction"
                                                                              Validation=@valid />
                                                            </MudCardContent>
                                                        </MudCard>
                                                    </MudCardContent>
                                                </MudCard>
                                            }
                                            break;
                                        case ExtType.automaticHarvest:
                                            if (e.Params == null || e.Params is not Mgmt.Params.AutomaticHarvest) e.Params = new Mgmt.Params.AutomaticHarvest() { Harvest = new() { OptCarbMgmtData = new() } };
                                            if (e.Params is Mgmt.Params.AutomaticHarvest ha)
                                            {
                                                var h2 = ha.Harvest;
                                                valid = val => val < 0 || val > 1 ? "[0 - 1]" : null;
                                                <MudCard>
                                                    <MudCardContent>
                                                        <MudCheckBox @bind-Checked=@h2.Exported Label="Exported" />
                                                        <MudSwitch @bind-Checked=@h2.OptCarbMgmtData.OptCarbonConservation
                                                                   Label="Carbon Conservation?" />
                                                        <MudCard Class=@(h2.OptCarbMgmtData.OptCarbonConservation ? "" : "d-none")>
                                                            <MudCardContent>
                                                                <MudSelect @bind-Value=h2.OptCarbMgmtData.CropUsage Label="CropUsage">
                                                                    <MudSelectItem Value=@Mgmt.Params.Harvest.CropUsage.biomassProduction>Biomass production</MudSelectItem>
                                                                    <MudSelectItem Value=@Mgmt.Params.Harvest.CropUsage.greenManure>Green manure</MudSelectItem>
                                                                </MudSelect>
                                                                <MudTextField @bind-Value=h2.OptCarbMgmtData.CropImpactOnHumusBalance
                                                                              Label="Crop contribution to humus"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="?" />
                                                                <MudTextField @bind-Value=h2.OptCarbMgmtData.ResidueHeq
                                                                              Label="ResidueHeq"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="?" />
                                                                <MudTextField @bind-Value=h2.OptCarbMgmtData.OrganicFertilizerHeq
                                                                              Label="OrganicFertilizerHeq"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="?" />
                                                                <MudTextField @bind-Value=h2.OptCarbMgmtData.MaxResidueRecoverFraction
                                                                              Label="MaxResidueRecoverFraction"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="Fraction"
                                                                              Validation=@valid />
                                                            </MudCardContent>
                                                        </MudCard>
                                                        <MudCard>
                                                            <MudCardContent>
                                                                <MudSelect @bind-Value=ha.HarvestTime Label="Harvest time ...">
                                                                    @foreach (Mgmt.Event.PhenoStage ps in Enum.GetValues(typeof(Mgmt.Event.PhenoStage)))
                                                                                    {
                                                                        <MudSelectItem Value="@ps">@textInfo.ToTitleCase(ps.ToString())</MudSelectItem>
                                                                                    }
                                                                </MudSelect>
                                                                <MudTextField @bind-Value=ha.MinPercentASW
                                                                              Label="min % ASW"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="%"
                                                                              Validation=@valid />
                                                                <MudTextField @bind-Value=ha.MaxPercentASW
                                                                              Label="max % ASW"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="%"
                                                                              Validation=@valid />
                                                                <MudTextField @bind-Value=ha.Max3dayPrecipSum
                                                                              Label="max 3-day precip sum"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="mm" />
                                                                <MudTextField @bind-Value=ha.MaxCurrentDayPrecipSum
                                                                              Label="max current day precip sum"
                                                                              Adornment="Adornment.End"
                                                                              AdornmentText="mm" />
                                                            </MudCardContent>
                                                        </MudCard>
                                                    </MudCardContent>
                                                </MudCard>
                                            }
                                            break;
                                        case ExtType.cutting:
                                            if (e.Params == null || e.Params is not Mgmt.Params.Cutting) e.Params = new Mgmt.Params.Cutting() { CuttingSpec = new List<Mgmt.Params.Cutting.Spec>() };
                                            if (e.Params is Mgmt.Params.Cutting c)
                                            {
                                                valid = val => val < 0 || val > 100 ? "[0 - 100]" : null;
                                                <MudCard>
                                                    <MudCardContent>
                                                        <MudTextField @bind-Value=c.CutMaxAssimilationRatePercentage
                                                                      Label="Cut max assimilation rate %"
                                                                      Adornment="Adornment.End"
                                                                      AdornmentText="%"
                                                                      Validation=@valid />
                                                        <MudSimpleTable Style="overflow-x: auto;">
                                                            <thead>
                                                                <tr>
                                                                    <th>Organ</th>
                                                                    <th>Value</th>
                                                                    <th>Unit</th>
                                                                    <th>Cut/Left</th>
                                                                    <th>Export %</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                    <tbody>
                                        @foreach (var (i, cs) in c.CuttingSpec.Select((cs, i) => (i, cs)))
                                        {
                                            <tr>
                                                <td>
                                                    <MudSelect @bind-Value=cs.Organ Label="Organ">
                                                        @foreach (Mgmt.PlantOrgan po in Enum.GetValues(typeof(Mgmt.PlantOrgan)))
                                                                            {
                                                            <MudSelectItem Value="@po">@textInfo.ToTitleCase(po.ToString())</MudSelectItem>
                                                                            }
                                                    </MudSelect>
                                                </td>
                                                <td>
                                                    <MudTextField @bind-Value=cs.Value
                                                                  Label="Value"
                                                                  Adornment="Adornment.End"
                                                                  AdornmentText=@(cs.Unit == Mgmt.Params.Cutting.Unit.percentage
                                                                                  ? "%" : cs.Unit == Mgmt.Params.Cutting.Unit.biomass
                                                                                  ? "kg ha-1" : "m2 m-2") />
                                                </td>
                                                <td>
                                                    <MudSelect @bind-Value=cs.CutOrLeft Label="Cut/Left">
                                                        <MudSelectItem Value=@Mgmt.Params.Cutting.CL.cut>Cut</MudSelectItem>
                                                        <MudSelectItem Value=@Mgmt.Params.Cutting.CL.left>Left</MudSelectItem>
                                                    </MudSelect>
                                                </td>
                                                <td>
                                                    <MudTextField @bind-Value=cs.ExportPercentage
                                                                  Label="Export%"
                                                                  Adornment="Adornment.End"
                                                                  AdornmentText="%"
                                                                  Validation=@valid />
                                                </td>
                                                <td>
                                                    <MudFab Icon=@Icons.Material.Filled.Add
                                                            Color=@Color.Success
                                                            OnClick=@(() => {
                                                      (c.CuttingSpec as List<Mgmt.Params.Cutting.Spec>)?.Insert(Math.Min(i + 1, c.CuttingSpec.Count()),
                                                          new Mgmt.Params.Cutting.Spec());
                                                      StateHasChanged();
                                                  }) />
                                                    <MudFab Icon=@Icons.Material.Filled.Delete
                                                            Color=@Color.Error
                                                            OnClick=@(() => {
                                                                          (c.CuttingSpec as List<Mgmt.Params.Cutting.Spec>)?.Remove(cs);
                                                                          StateHasChanged();
                                                                      }) />
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </MudSimpleTable>
                                </MudCardContent>
                                </MudCard>

                            }
                            break;
                        case ExtType.mineralFertilization:
                            if (e.Params == null || e.Params is not Mgmt.Params.MineralFertilization) e.Params = new Mgmt.Params.MineralFertilization() { Partition = new() };
                            if (e.Params is Mgmt.Params.MineralFertilization mf)
                            {
                                valid = val => val < 0 || val > 100 ? "[0 - 100]" : null;
                                Mgmt.MineralFertilizer? selectedMfId = null;
                                <MudCard>
                                    <MudCardContent>
                                        <MudSelect Value=@selectedMfId
                                                   T="Mgmt.MineralFertilizer?"
                                                   ValueChanged=@(async f => {
                                                                      selectedMfId = f;
                                                                      if (selectedMfId.HasValue && FertilizerServiceCap != null)
                                                                      {
                                                                          var part = await FertilizerServiceCap.MineralFertilizerPartitionFor(selectedMfId.Value);
                                                                          mf.Partition = part;
                                                                          StateHasChanged();
                                                                      }
                                                                  })
                                                   Label="Min.Fertilizer">
                                            @foreach (Mgmt.MineralFertilizer? mfId in Enum.GetValues(typeof(Mgmt.MineralFertilizer)))
                                            {
                                                <MudSelectItem Value="@mfId">@textInfo.ToUpper(mfId.ToString())</MudSelectItem>
                                            }
                                        </MudSelect>
                                        <MudTextField @bind-Value=mf.Amount
                                                      Label="Amount"
                                                      Adornment="Adornment.End"
                                                      AdornmentText="kg" />
                                        <MudCard>
                                            <MudCardContent>
                                                <MudTextField @bind-Value=mf.Partition.Id Label="Id" />
                                                <MudTextField @bind-Value=mf.Partition.Name Label="Name" />
                                                <MudTextField @bind-Value=mf.Partition.Carbamid
                                                              Label="Carbamid"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="%"
                                                              Validation=@valid />
                                                <MudTextField @bind-Value=mf.Partition.Nh4
                                                              Label="NH4"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="%"
                                                              Validation=@valid />
                                                <MudTextField @bind-Value=mf.Partition.No3
                                                              Label="NO3"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="%"
                                                              Validation=@valid />
                                            </MudCardContent>
                                        </MudCard>
                                    </MudCardContent>
                                </MudCard>
                            }
                            break;
                        case ExtType.organicFertilization:
                            if (e.Params == null || e.Params is not Mgmt.Params.OrganicFertilization) e.Params = new Mgmt.Params.OrganicFertilization() { Params = new() { Params = new() } };
                            if (e.Params is Mgmt.Params.OrganicFertilization of)
                            {
                                valid = val => val < 0 || val > 100 ? "[0 - 100]" : null;
                                Mgmt.OrganicFertilizer? selectedOfId = null;
                                <MudCard>
                                    <MudCardContent>
                                        <MudTextField @bind-Value=of.Amount
                                                      Label="Amount"
                                                      Adornment="Adornment.End"
                                                      AdornmentText="kg" />
                                        <MudCheckBox @bind-Checked=@of.Incorporation Label="Incorporation" />
                                        <MudSelect Value=@selectedOfId
                                                   T="Mgmt.OrganicFertilizer?"
                                                   ValueChanged=@(async f => {
                                                                      selectedOfId = f;
                                                                      if (selectedOfId.HasValue && FertilizerServiceCap != null)
                                                                      {
                                                                          var part = await FertilizerServiceCap.OrganicFertilizerParametersFor(selectedOfId.Value);
                                                                          of.Params= part;
                                                                          StateHasChanged();
                                                                      }
                                                                  })
                                                   Label="Org.Fertilizer">
                                            @foreach (Mgmt.OrganicFertilizer? ofId in Enum.GetValues(typeof(Mgmt.OrganicFertilizer)))
                                            {
                                                <MudSelectItem Value="@ofId">@textInfo.ToUpper(ofId.ToString())</MudSelectItem>
                                            }
                                        </MudSelect>
                                        <MudCard>
                                            <MudCardContent>
                                                <MudTextField @bind-Value=of.Params.Id Label="Id" />
                                                <MudTextField @bind-Value=of.Params.Name Label="Name" />
                                                <MudTextField @bind-Value=of.Params.Params.AomDryMatterContent
                                                              Label="aomDryMatterContent"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="kg-DM/kg-FM" />
                                                <MudTextField @bind-Value=of.Params.Params.AomNH4Content
                                                              Label="aomNH4Content"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="kg-N/kg-DM" />
                                                <MudTextField @bind-Value=of.Params.Params.AomNO3Content
                                                              Label="aomNO3Content"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="kg-N/kg-DM" />
                                                <MudTextField @bind-Value=of.Params.Params.AomCarbamidContent
                                                              Label="aomCarbamidContent"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="kg-N/kg-DM" />
                                                <MudTextField @bind-Value=of.Params.Params.AomSlowDecCoeffStandard
                                                              Label="aomSlowDecCoeffStandard"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="1/d" />
                                                <MudTextField @bind-Value=of.Params.Params.AomFastDecCoeffStandard
                                                              Label="aomFastDecCoeffStandard"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="1/d" />
                                                <MudTextField @bind-Value=of.Params.Params.PartAOMToAOMSlow
                                                              Label="partAOMToAOMSlow"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="kg/kg" />
                                                <MudTextField @bind-Value=of.Params.Params.PartAOMToAOMFast
                                                              Label="partAOMToAOMFast"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="kg/kg" />
                                                <MudTextField @bind-Value=of.Params.Params.CnRatioAOMSlow
                                                              Label="cnRatioAOMSlow"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="kg/kg" />
                                                <MudTextField @bind-Value=of.Params.Params.CnRatioAOMFast
                                                              Label="cnRatioAOMFast"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="" />
                                                <MudTextField @bind-Value=of.Params.Params.PartAOMSlowToSMBSlow
                                                              Label="partAOMSlowToSMBSlow"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="kg/kg" />
                                                <MudTextField @bind-Value=of.Params.Params.PartAOMSlowToSMBFast
                                                              Label="partAOMSlowToSMBFast"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="kg/kg" />
                                                <MudTextField @bind-Value=of.Params.Params.NConcentration
                                                              Label="nConcentration"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="" />
                                            </MudCardContent>
                                        </MudCard>
                                    </MudCardContent>
                                </MudCard>
                            }
                            break;
                        case ExtType.tillage:
                            if (e.Params == null || e.Params is not Mgmt.Params.Tillage) e.Params = new Mgmt.Params.Tillage();
                            if (e.Params is Mgmt.Params.Tillage t)
                            {
                                valid = val => val < 0 || val > 2 ? "[0 - 2]" : null;
                                <MudCard>
                                    <MudCardContent>
                                        <MudTextField @bind-Value=t.Depth
                                                      Label="depth"
                                                      Adornment="Adornment.End"
                                                      AdornmentText="m"
                                                      Validation=@valid />
                                    </MudCardContent>
                                </MudCard>
                            }
                            break;
                        case ExtType.irrigation:
                            if (e.Params == null || e.Params is not Mgmt.Params.Irrigation) e.Params = new Mgmt.Params.Irrigation() { Params = new() };
                            if (e.Params is Mgmt.Params.Irrigation ir)
                            {
                                valid = val => val < 0 ? "[0 - ...]" : null;
                                <MudCard>
                                    <MudCardContent>
                                        <MudTextField @bind-Value=ir.Amount
                                                      Label="Amount"
                                                      Adornment="Adornment.End"
                                                      AdornmentText="mm" />
                                        <MudCard>
                                            <MudCardContent>
                                                <MudTextField @bind-Value=ir.Params.NitrateConcentration
                                                              Label="Nitrate concentration"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="mg dm-3"
                                                              Validation=@valid />
                                                <MudTextField @bind-Value=ir.Params.SulfateConcentration
                                                              Label="Sulfate concentration"
                                                              Adornment="Adornment.End"
                                                              AdornmentText="mg dm-3"
                                                              Validation=@valid />
                                            </MudCardContent>
                                        </MudCard>
                                    </MudCardContent>
                                </MudCard>
                            }
                            break;
                    }
                                    </td>
                                    <td>
                                        <MudFab Icon=@Icons.Material.Filled.ArrowUpward
                                                Disabled=@(i == 0)
                                                OnClick=@(() => {
                                                      cropRotation.Remove(e);
                                                      cropRotation.Insert(Math.Max(0, i - 1), e);
                                                      StateHasChanged();
                                                  }) />
                                        <MudFab Icon=@Icons.Material.Filled.ArrowDownward
                                                Disabled=@(i == cropRotation.Count() - 1)
                                                OnClick=@(() => {
                                                      cropRotation.Remove(e);
                                                      cropRotation.Insert(Math.Min(i + 1, cropRotation.Count()), e);
                                                      StateHasChanged();
                                                  }) />
                                        <MudFab Icon=@Icons.Material.Filled.Add
                                                Color=@Color.Success
                                                OnClick=@(() => {
                                                      cropRotation.Insert(Math.Min(i + 1, cropRotation.Count()), new Mgmt.Event());
                                                      StateHasChanged();
                                                  }) />
                                        <MudFab Icon=@Icons.Material.Filled.Delete
                                                Color=@Color.Error
                                                OnClick=@(() => { cropRotation.Remove(e); StateHasChanged(); }) />
                                    </td>
                                    </tr>
                                }
                        </tbody>
                        </MudSimpleTable>
                    </MudItem>
                </MudGrid>
            </MudExpansionPanel>
    <MudExpansionPanel @bind-IsExpanded=@panelOpened["OutputConfig"] Text="Output configuration">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            @code
            {
                bool showEventSelect = true;

                bool isDailyEvent(string eventShortcut)
                {
                    return eventShortcut == "daily" || eventShortcut.Contains("at");
                }
            }
            @for (int i = 0; i < events.Count; i++)
            {
                var k = i;
                var p = events[i];
                var eventShortcut = p.Item1;
                var oids = p.Item2;
                <MudTabPanel Text="@eventShortcut">
                    <MudGrid>
                        <MudItem xs="2" Class="d-flex flex-row py-2 px-1">
                            <MudSelect T=@string
                                       Class=@(showEventSelect ? "" : "d-none")
                                       Value=p.Item1
                                       ValueChanged=@(v => { events[k] = (v, oids); StateHasChanged(); })
                                       Label="Event">
                                @foreach (var eventSc in eventShortcuts)
                                {
                                    <MudSelectItem Value=@eventSc />
                                }
                            </MudSelect>
                            <MudTextField T=@string
                                          Class=@(showEventSelect ? "d-none" : "")
                                          Value=p.Item1
                                          ValueChanged=@(v => { events[k] = (v, oids); StateHasChanged(); })
                                          Label="Event"
                                          Variant="Variant.Outlined" />
                            <MudFab Color=@Color.Secondary
                                    Icon=@(showEventSelect ? Icons.Material.Filled.Edit : Icons.Material.Filled.Close)
                                    OnClick=@(() => showEventSelect = !showEventSelect) />
                        </MudItem>
                        <MudItem xs="10">
                            <MudChipSet AllClosable=@true OnClose=@(c => oids.Remove(c.Tag as OId))>
                                @foreach (var oid in oids)
                                {
                                    <MudChip Tag=@oid Text=@oid.ToString() OnClick=@(() => editOId = oid) />
                                }
                            </MudChipSet>
                        </MudItem>
                        <MudItem xs="2">
                            <MudField DisableUnderLine=@true>
                                <MudButton Color=@Color.Primary
                                           Variant=@Variant.Filled
                                           OnClick=@(() => { oids.Add(editOId); editOId = OId.Out(""); })
                                           Disabled=@(editOId.From > editOId.To)>
                                    Add/Change
                                </MudButton>
                            </MudField>
                        </MudItem>
                        <MudItem xs="2">
                            <MudField Label="Output Name" DisableUnderLine=@true>
                                <MudTextField @bind-Value=editOId.Name Variant=@Variant.Outlined></MudTextField>
                            </MudField>
                        </MudItem>
                        <MudItem xs="4">
                            <MudField Label="Layers" DisableUnderLine=@true>
                                <MudGrid>
                                    <MudItem xs="3">
                                        <MudSelect @bind-Value=editOId.From
                                                   Label="From"
                                                   Error=@(editOId.From > editOId.To)
                                                   ErrorText="From > To">
                                            @for (int? i = 1; i <= 20; i++)
                                                {
                                                <MudSelectItem Value=@i />
                                                }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudSelect @bind-Value=editOId.To
                                                   Label="From"
                                                   Error=@(editOId.To < editOId.From)
                                                   ErrorText="To < From">
                                            @for (int? i = 1; i <= 20; i++)
                                                {
                                                <MudSelectItem Value=@i />
                                                }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudSelect Label="Aggregation"
                                                   @bind-Value=editOId.LayerAgg>
                                            @foreach (Agg? agg in Enum.GetValues(typeof(Agg)))
                                                {
                                                <MudSelectItem Value=@agg />
                                                }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="3" Class=@(isDailyEvent(eventShortcut) ? "d-none" : "")>
                                        <MudSelect Label="Aggregation"
                                                   @bind-Value=editOId.TimeAgg>
                                            @foreach (Agg? agg in Enum.GetValues(typeof(Agg)))
                                                {
                                                <MudSelectItem Value=@agg />
                                                }
                                        </MudSelect>
                                    </MudItem>
                                </MudGrid>
                            </MudField>
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
            }
            <MudTabPanel Text="new">
                <MudGrid>
                    <MudItem xs="2" Class="d-flex flex-row py-2 px-1">
                        <MudSelect T=@string
                                   Class=@(showEventSelect ? "" : "d-none")
                                   ValueChanged=@(v => { events.Add((v, new List<OId>())); StateHasChanged(); })
                                   Label="New Event">
                            @foreach (var eventSc in eventShortcuts)
                            {
                                <MudSelectItem Value=@eventSc />
                            }
                        </MudSelect>
                        <MudTextField T=@string
                                      Class=@(showEventSelect ? "d-none" : "")
                                      ValueChanged=@(v => { events.Add((v, new List<OId>())); StateHasChanged(); })
                                      Label="New Event"
                                      Variant="Variant.Outlined" />
                        <MudFab Color=@Color.Secondary
                                Icon=@(showEventSelect ? Icons.Material.Filled.Edit : Icons.Material.Filled.Close)
                                OnClick=@(() => showEventSelect = !showEventSelect) />
                    </MudItem>
                </MudGrid>
            </MudTabPanel>
        </MudTabs>
    </MudExpansionPanel>
    <MudExpansionPanel @bind-IsExpanded=@panelOpened["Results"] Text="MONICA results">
        <MudGrid>
            <MudItem xs="2">
                <MudButton Variant=@Variant.Filled Class="run-main" OnClick=@RunMonicaModel>Run MONICA</MudButton>
            </MudItem>
            <MudItem xs="10">
                <MudChipSet SelectedChipsChanged=@(cs => {
                                                       selectedResultSection = cs.Select(c => c.Text).FirstOrDefault();
                                                       MonicaResultsChanged = true;
                                                   })
                            Mandatory=@true
                            Filter=@true>
                    @foreach (var (s, i) in Section2Oid2Data.Keys.Select((s, i) => (s, i)))
                    {
                        <MudChip @ref=defaultSelectedSectionChips[i] Text=@s Default=@(s == selectedResultSection)></MudChip>
                    }
                </MudChipSet>
            </MudItem>
            <MudItem xs="12">
                @code {
                    private List<Highchart.AxisConfig> yAxisConfigs = new()
                    {
            new Highchart.AxisConfig { Id = "def", Title = "other values" },
            new Highchart.AxisConfig { Id = "yields", Title = "Yield [kg/ha]", Opposite = true }
        };
                    private Dictionary<string, Highchart.CurveConfig> curveName2Config = new()
                    {
            { "Yield", new Highchart.CurveConfig { DisplayAxisId = "yields", IsVisible = true } }
        };
                }
                <Highchart Title="MONICA results"
                           XAxisTitle="Date"
                           Data=@(Section2Oid2Data.GetValueOrDefault(selectedResultSection, new Dictionary<string, IEnumerable<float>>()))
                           Dates=@(Section2Dates.GetValueOrDefault(selectedResultSection, new List<DateTime>()))
                           DataChanged=@MonicaResultsChanged
                           ChartRerendered=@(() => MonicaResultsChanged = false)
                           YAxisConfigs=@yAxisConfigs
                           CurveName2Config=@curveName2Config>
                </Highchart>
            </MudItem>
            <!--<MudItem xs="12">
                            <MudCard>
                                <MudCardContent>
                                    <MudText>@monicaResult</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
            -->
            <MudItem xs="12">
                <MudAlert Severity="Severity.Error">@monicaErrorMessage</MudAlert>
            </MudItem>
        </MudGrid>
    </MudExpansionPanel>
</MudExpansionPanels>
