@namespace Mas.Infrastructure.BlazorComponents

@using MudBlazor
@using System.Threading
@using Capnp.Rpc
@using Soil = Mas.Schema.Soil
@using Geo = Mas.Schema.Geo

@inject IJSRuntime JsRuntime
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@implements IDisposable

<MudGrid>
    <MudItem Class=@(HideSturdyRefConnector ? "d-none" : "") xs="12">
        <ConnectToSturdyRef Label="Persistent capability to soil service"
                            CapabilityChanged="@SoilServiceCapabilityChanged"
                            TCapnpInterface="@Soil.IService"
                            @bind-SturdyRef="@_soilServiceSturdyRef"
                            @ref="_sturdyRefConnector"
                            ConnectOnInit="true">
        </ConnectToSturdyRef>
    </MudItem>
    <MudItem Class=@(HideGeoPosPicker ? "d-none" : "") xs="12">
        <GeoposPicker @bind-LatLng="LatLng"
                      Width="50%" Height="400px"
                      CenterLatLng="@LatLng"/>
    </MudItem>
    <MudItem xs="2" Class="d-flex align-stretch">
        <MudStack Class="justify-center">
            <MudSwitch @bind-Value="@AutoLoad" Label="Auto load" Color="Color.Success" />
            <MudButton Variant="@Variant.Filled"
                   Color="@Color.Primary"
                   OnClick="@GetSoilProfiles">
                Load soil profile<br>@@ @(Math.Round(LatLng.Item1, 2))N/@(Math.Round(LatLng.Item2, 2))E 
            </MudButton>
        </MudStack>
    </MudItem>
    <MudItem xs="5" >
        <MudText Typo="@Typo.subtitle1">Mandatory</MudText>
        <MudPaper Class="d-flex flex-row">
            <MudChipSet @bind-SelectedValues="@SelectedMandatorySoilProperties" SelectionMode="@SelectionMode.MultiSelection" CheckMark="true">
                @foreach (var (e, i) in (_availableMandatorySoilProps ?? new List<Soil.PropertyName>()).OrderBy(e =>
                    e.ToString()).Select((e, i) => (e, i)))
                {
                    var en = e.ToString();
                    <MudChip Size=@Size.Large Color=@Color.Default SelectedColor=@Color.Success Value=@e Text=@en
                        Default=@DefaultSelectedSoilProperties.Contains(en)>
                    </MudChip>
                }
            </MudChipSet>
        </MudPaper>
    </MudItem>
    <MudItem xs="5">
        <MudText Typo="@Typo.subtitle1">Optional</MudText>
        <MudPaper Class="d-flex flex-row">
            <MudChipSet T="@Soil.PropertyName"
                        @bind-SelectedValues="@SelectedOptionalSoilProperties"
                        SelectionMode="SelectionMode.MultiSelection"
                        CheckMark="true">
                @foreach (var (e, i) in (_availableOptionalSoilProps ?? new List<Soil.PropertyName>()).OrderBy(e =>
                    e.ToString()).Select((e, i) => (e, i)))
                {
                    var en = e.ToString();
                    <MudChip T="@Soil.PropertyName"
                             Size=@Size.Large
                             Color=@Color.Default
                             SelectedColor=@Color.Success
                             Value="@e"
                             Text="@en"
                             Default=@DefaultSelectedSoilProperties.Contains(en)>
                    </MudChip>
                }
            </MudChipSet>
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudTabs Elevation="1" Rounded="@true" @bind-ActivePanelIndex="@SelectedProfileIndex">
            @foreach(var (k, (profileId, profile, ProfileLayers)) in Profiles.Select((layer, k) => (k, layer)))
            {
                <MudTabPanel Text=@($"Profile {k+1} ({Math.Round(profile.PercentageOfArea, 0)}%)")
                    Tooltip=@($"Profile ID: {profileId}")
                    Icon=@Icons.Material.Filled.Layers>
                    <MudSimpleTable>
                        <thead>
                            <tr>
                                <th>Size [m]</th>
                                @foreach (var propName in SelectedMandatorySoilProperties.Concat(SelectedOptionalSoilProperties).OrderBy(p => p.ToString()))
                                {
                                    <th>
                                        @propName.ToString()
                                        @switch (propName)
                                        {
                                            case Soil.PropertyName.sand:
                                            case Soil.PropertyName.clay:
                                            case Soil.PropertyName.silt:
                                            case Soil.PropertyName.soilMoisture:
                                                <MudText>[%]</MudText>;
                                                break;
                                            case Soil.PropertyName.fieldCapacity:
                                            case Soil.PropertyName.permanentWiltingPoint:
                                            case Soil.PropertyName.saturation:
                                            case Soil.PropertyName.sceleton:
                                                <MudText>[vol%]</MudText>
                                                break;
                                            case Soil.PropertyName.organicCarbon:
                                            case Soil.PropertyName.organicMatter:
                                                <MudText>[mass%]</MudText>
                                                break;
                                            case Soil.PropertyName.ammonium:
                                                <MudText>[kg NH4-N m-3]</MudText>
                                                break;
                                            case Soil.PropertyName.nitrate:
                                                <MudText>[kg NO3-N m-3]</MudText>
                                                break;
                                            case Soil.PropertyName.bulkDensity:
                                            case Soil.PropertyName.rawDensity:
                                                <MudText>[kg m-3]</MudText>
                                                break;
                                            default:
                                                <MudText>&nbsp;</MudText>
                                                break;
                                        }
                                    </th>
                                }
                                <th style="width:20%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var (i, layer) in ProfileLayers.Select((layer, i) => (i, layer)))
                            {
                                <tr>
                                    <td>
                                        <MudTextField @bind-Value=layer.Size
                                                    Validation=@((Func<float?, string?>) (val => val < 0 || val > 2 ? "[0 - 2m]" : null))
                                                    Required
                                                    Adornment="Adornment.End"
                                                    AdornmentText="m" />
                                    </td>
                                    @foreach (var propName in SelectedMandatorySoilProperties.Concat(SelectedOptionalSoilProperties).OrderBy(p => p.ToString()))
                                    {
                                        var props = layer.Properties.Where(p => p.Name == propName);
                                        if (props.Any())
                                        {
                                            var prop = props.First();
                                            Func<float?, string?> valid = val => null;
                                            <td>
                                                @if(prop.which == Soil.Layer.Property.WHICH.Unset)
                                                {
                                                    <MudText>-</MudText>
                                                }
                                                else
                                                {
                                                    switch (prop.Name)
                                                    {
                                                        case Soil.PropertyName.sand:
                                                        case Soil.PropertyName.clay:
                                                        case Soil.PropertyName.silt:
                                                            valid = val => val < 0 || val > 100 ? "[0 - 100]" : null;
                                                            <MudTextField @bind-Value=prop.F32Value Validation=@valid Required
                                                                        Adornment="Adornment.End" AdornmentText="%" />
                                                            break;
                                                        case Soil.PropertyName.fieldCapacity:
                                                        case Soil.PropertyName.permanentWiltingPoint:
                                                        case Soil.PropertyName.saturation:
                                                        case Soil.PropertyName.sceleton:
                                                            valid = val => val < 0 || val > 100 ? "[0 - 100]" : null;
                                                            <MudTextField @bind-Value=prop.F32Value Validation=@valid Required
                                                                        Adornment="Adornment.End" AdornmentText="vol%" />
                                                            break;
                                                        case Soil.PropertyName.organicCarbon:
                                                        case Soil.PropertyName.organicMatter:
                                                            valid = val => val < 0.0 || val > 100.0 ? "[0 - 100]" : null;
                                                            <MudTextField @bind-Value=prop.F32Value Validation=@valid Required
                                                                        Adornment="Adornment.End" AdornmentText="mass%" />
                                                            break;
                                                        case Soil.PropertyName.ammonium:
                                                            valid = val => val < 0.0 || val > 1000 ? "[0 - 1000]" : null;
                                                            <MudTextField @bind-Value=prop.F32Value Validation=@valid Required
                                                                        Adornment="Adornment.End" AdornmentText="kg NH4-N m-3" />
                                                            break;
                                                        case Soil.PropertyName.nitrate:
                                                            valid = val => val < 0.0 || val > 1000 ? "[0 - 1000]" : null;
                                                            <MudTextField @bind-Value=prop.F32Value Validation=@valid Required
                                                                        Adornment="Adornment.End" AdornmentText="kg NO3-N m-3" />
                                                            break;
                                                        case Soil.PropertyName.bulkDensity:
                                                        case Soil.PropertyName.rawDensity:
                                                            valid = val => val < 0.0 || val > 2500.0 ? "[0 - 2500]" : null;
                                                            <MudTextField @bind-Value=prop.F32Value Validation=@valid Required
                                                                        Adornment="Adornment.End" AdornmentText="kg m-3" />
                                                            break;
                                                        case Soil.PropertyName.pH:
                                                            valid = val => val < 0 || val > 14 ? "[0 - 14]" : null;
                                                            <MudTextField @bind-Value=prop.F32Value Validation=@valid Required
                                                                        Adornment="Adornment.End" AdornmentText="" />
                                                            break;
                                                        case Soil.PropertyName.soilMoisture:
                                                            valid = val => val < 0 || val > 100 ? "[0 - 100]" : null;
                                                            <MudTextField @bind-Value=prop.F32Value Validation=@valid Required
                                                                        Adornment="Adornment.End" AdornmentText="%" />
                                                            break;
                                                        case Soil.PropertyName.cnRatio:
                                                            valid = val => val < 0.0 || val > 1.0 ? "[0 - 1]" : null;
                                                            <MudTextField @bind-Value=prop.F32Value Validation=@valid Required
                                                                        Adornment="Adornment.End" AdornmentText="" />
                                                            break;
                                                        case Soil.PropertyName.soilWaterConductivityCoefficient:
                                                            valid = val => val < 0.0 ? "[0 - ?]" : null;
                                                            <MudTextField @bind-Value=prop.F32Value Validation=@valid Required
                                                                        Adornment="Adornment.End" AdornmentText="" />
                                                            break;
                                                        case Soil.PropertyName.inGroundwater:
                                                        case Soil.PropertyName.impenetrable:
                                                            <MudSwitch @bind-Value=prop.BValue Label=@prop.BValue?.ToString() />
                                                            break;
                                                        case Soil.PropertyName.soilType:
                                                            <MudButton @onclick="@(e => OpenKA5SoilTypeDialog(prop))"
                                                                    Variant=@Variant.Outlined>
                                                                @prop.Type
                                                            </MudButton>
                                                            break;
                                                        default:
                                                            <MudTextField T=@String
                                                                        Value=@GetSoilPropertyValue(prop)
                                                                        ValueChanged=@(v => SetSoilPropertyValue(prop, v))
                                                                        Required />
                                                            break;
                                                    }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    <td>
                                        <MudFab StartIcon=@Icons.Material.Filled.ArrowUpward
                                                Size=@Size.Small
                                                Disabled=@(i == 0)
                                                OnClick=@(() => {
                                                        ProfileLayers.Remove(layer);
                                                        ProfileLayers.Insert(Math.Max(0, i - 1), layer);
                                                        StateHasChanged();
                                                        }) />
                                        <MudFab StartIcon=@Icons.Material.Filled.ArrowDownward
                                                Size=@Size.Small
                                                Disabled=@(i == ProfileLayers.Count() - 1)
                                                OnClick=@(() => {
                                                        ProfileLayers.Remove(layer);
                                                        ProfileLayers.Insert(Math.Min(i + 1, ProfileLayers.Count()), layer);
                                                        StateHasChanged();
                                                        }) />
                                        <MudFab StartIcon=@Icons.Material.Filled.Add
                                                Size=@Size.Small
                                                Color=@Color.Success
                                                OnClick=@(() => {
                                                            ProfileLayers.Insert(Math.Min(i + 1, ProfileLayers.Count()), new Soil.Layer() { 
                                                                Properties = layer.Properties.Select(p => new Soil.Layer.Property() { 
                                                                    Name = p.Name, 
                                                                    which = p.which 
                                                                }).ToList(), 
                                                                Size = 0 
                                                            });
                                                            StateHasChanged();
                                                        }) />
                                        <MudFab StartIcon=@Icons.Material.Filled.Delete
                                                Disabled=@(ProfileLayers.Count() < 2)
                                                Size=@Size.Small
                                                Color=@Color.Error
                                                OnClick=@(() => { ProfileLayers.Remove(layer); StateHasChanged(); }) />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                </MudTabPanel>
            }
        </MudTabs>
    </MudItem>
</MudGrid>

@code {
    [Parameter]
    public bool AutoLoad { get; set; } = false;

    [Parameter]
    public Soil.IService? SoilServiceCap { get; set; }

    private bool _soilServiceCapUpdated = false;

    [Parameter]
    public EventCallback<Soil.IService> SoilServiceCapChanged { get; set; }

    private string _soilServiceSturdyRef = "";

    [Parameter]
    public List<Soil.Layer> SelectedLayers { get; set; } = [];

    [Parameter]
    public EventCallback<List<Soil.Layer>> SelectedLayersChanged { get; set; }

    private int _selectedProfileIndex = 0;
    private int SelectedProfileIndex { 
        get => _selectedProfileIndex;
        set {
            _selectedProfileIndex = value;
            Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::SelectedProfileIndex: Profiles.Count: " + Profiles.Count);
            if (value >= Profiles.Count) return;
            SelectedLayers = Profiles[value].Item3;
            if (SelectedLayersChanged.HasDelegate) SelectedLayersChanged.InvokeAsync(SelectedLayers);
        }
    }

    [Parameter]
    public List<(string, Soil.ProfileData, List<Soil.Layer>)> Profiles { get; set; } = [];

    [Parameter]
    public EventCallback<List<(string, Soil.ProfileData, List<Soil.Layer>)>> ProfilesChanged { get; set; }

    private IEnumerable<Soil.PropertyName>? _availableMandatorySoilProps;
    private IReadOnlyCollection<Soil.PropertyName>? _selectedMandatorySoilProperties;
    private IReadOnlyCollection<Soil.PropertyName> SelectedMandatorySoilProperties
    {
        get => _selectedMandatorySoilProperties ?? (_availableMandatorySoilProps ?? new List<Soil.PropertyName>()).ToList();
        set { 
            _selectedMandatorySoilProperties = value;
            if (AutoLoad) _ = GetSoilProfiles();
        }
    }

    private IEnumerable<Soil.PropertyName>? _availableOptionalSoilProps;
    private IReadOnlyCollection<Soil.PropertyName>? _selectedOptionalSoilProperties;
    private IReadOnlyCollection<Soil.PropertyName> SelectedOptionalSoilProperties
    {
        get => _selectedOptionalSoilProperties ?? (_availableOptionalSoilProps ?? new List<Soil.PropertyName>()).ToList();
        set { 
            _selectedOptionalSoilProperties = value;
            if (AutoLoad) _ = GetSoilProfiles();
        }
    }

    [Parameter]
    public bool AllowLocalSoilPropertiesEditing { get; set; } = true;

    [Parameter]
    public HashSet<string> DefaultSelectedSoilProperties { get; set; } = ["sand", "clay", "soilType", "bulkDensity", "organicCarbon"];

    private ConnectToSturdyRef<Soil.IService>? _sturdyRefConnector;

    [Parameter]
    public bool HideSturdyRefConnector { get; set; } = false;

    bool _latLngUpdated = false;
    [Parameter]
    public (double, double) LatLng { get; set; } = (52.52, 14.11);

    [Parameter]
    public bool HideGeoPosPicker { get; set; } = false;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        // here we can figure out if an externally supplied SoilServiceCap is different to the one in the component
        //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::SetParametersAsync");
        var ssc = parameters.GetValueOrDefault<Soil.IService?>("SoilServiceCap", null);
        //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::SetParametersAsync ssc: {ssc} SoilServiceCap: {SoilServiceCap}");
        _soilServiceCapUpdated = ssc != null && ssc != SoilServiceCap;
        var llc = parameters.GetValueOrDefault<(double, double)>("LatLng", (9999, 9999));
        //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::SetParametersAsync llc: {llc} LatLng: {LatLng}");
        _latLngUpdated = llc is { Item1: < 361, Item2: < 361 } && llc != LatLng;
        await base.SetParametersAsync(parameters);
    }

    protected override async Task OnParametersSetAsync()
    {
        //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::OnParametersSetAsync");
        if (_soilServiceCapUpdated || _latLngUpdated)
        {
            //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::OnParametersSetAsync: _soilServiceCapUpdated: {_soilServiceCapUpdated} | -> await GetAllAvailableSoilProperties()");
            await GetAllAvailableSoilProperties();
            //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::OnParametersSetAsync: AutoLoad: {AutoLoad} _latLngUpdated: {_latLngUpdated} | -> await GetSoilProfiles");
            if (AutoLoad) await GetSoilProfiles();
        }
    }

    private async Task SoilServiceCapabilityChanged(Soil.IService? service)
    {
        if (service == null) return;

        if (SoilServiceCap != service) SoilServiceCap?.Dispose();
        SoilServiceCap = service;

        if (SoilServiceCapChanged.HasDelegate) await SoilServiceCapChanged.InvokeAsync(Proxy.Share(SoilServiceCap));

        //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::SoilServiceCapabilityChanged | -> await GetAllAvailableSoilProperties()");
        await GetAllAvailableSoilProperties();
        //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::SoilServiceCapabilityChanged: AutoLoad: {AutoLoad} | -> await GetSoilProfiles()");
        if (AutoLoad) await GetSoilProfiles();
    }

    private async Task GetAllAvailableSoilProperties()
    {
        if (SoilServiceCap == null) return;

        try
        {
            //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::GetAllAvailableSoilProperties | -> await SoilServiceCap.GetAllAvailableParameters(false)");
            var (mps, ops) = await SoilServiceCap.GetAllAvailableParameters(false);
            _availableMandatorySoilProps = mps;
            _availableOptionalSoilProps = ops;
            StateHasChanged();
        }
        catch (RpcException e)
        {
            Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::GetAllAvailableSoilProperties: RpcException: " + e.Message);
        }
    }

    private string GetSoilPropertyValue(Soil.Layer.Property p)
    {
        switch (p.which)
        {
            case Soil.Layer.Property.WHICH.BValue: return (p.BValue ?? false) ? "true" : "false";
            case Soil.Layer.Property.WHICH.F32Value: return p.F32Value?.ToString() ?? "0";
            case Soil.Layer.Property.WHICH.Type: return p.Type;
            case Soil.Layer.Property.WHICH.undefined:
            case Soil.Layer.Property.WHICH.Unset:
            default: return "";
        }
    }

    private void SetSoilPropertyValue(Soil.Layer.Property p, string value)
    {
        switch (p.which)
        {
            case Soil.Layer.Property.WHICH.BValue: p.BValue = bool.Parse(value); break;
            case Soil.Layer.Property.WHICH.F32Value: p.F32Value = float.Parse(value); break;
            //case Soil.Layer.Property.WHICH.Type: p.Type;
            case Soil.Layer.Property.WHICH.undefined:
            case Soil.Layer.Property.WHICH.Type:
            case Soil.Layer.Property.WHICH.Unset:
            default: return;
        }
    }

    private async Task GetSoilProfiles()
    {
        if (SoilServiceCap == null) return;

        try
        {
            //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::GetSoilProfiles LatLng: {LatLng} | -> await SoilServiceCap.ClosestProfilesAt()");
            var profiles = await SoilServiceCap.ClosestProfilesAt(
                new Geo.LatLonCoord { Lat = LatLng.Item1, Lon = LatLng.Item2 },
                new Soil.Query
                {
                    Mandatory = SelectedMandatorySoilProperties.ToArray(),
                    Optional = SelectedOptionalSoilProperties.ToArray(),
                    OnlyRawData = false
                }
            );

            if (profiles.Count > 0)
            {
                Profiles.Clear();
                foreach(var profile in profiles)
                {
                    var pd = await profile.Data();
                    var info = await profile.Info();
                    //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::GetSoilProfiles info.Id: {info.Id}");
                    if (pd == null) continue;
                    List<Soil.Layer> layers = pd.Layers.ToList();
                    Profiles.Add((info.Id, pd, layers));
                }

                SelectedProfileIndex = 0;
                if (ProfilesChanged.HasDelegate) _ = ProfilesChanged.InvokeAsync(Profiles);
                //StateHasChanged();
            }
        }
        catch (RpcException e)
        {
            Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::GetSoilProfiles RpcException: {e.Message}");
            //await sturdyRefConnector?.Reconnect();
        }
    }

    private async void OpenKA5SoilTypeDialog(Soil.Layer.Property prop)
    {
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraLarge, FullWidth = true };
        var res = await DialogService.Show<KA5SoilTypeTriangleDialog>
            ("Select soil type", options).Result;
        if (res?.Data is KA5SoilTypeTriangleDialog.Result r) prop.Type = r.SoilTextureName;
        StateHasChanged();
        if (ProfilesChanged.HasDelegate) _ = ProfilesChanged.InvokeAsync(Profiles);
    }

    protected override void OnInitialized()
    {
        //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::OnInitialized SoilService SR: {_soilServiceSturdyRef}");
    }

    void IDisposable.Dispose()
    {
        //Console.WriteLine($"T{Thread.CurrentThread.ManagedThreadId} SoilService.razor::Dispose SoilService SR: {_soilServiceSturdyRef} cap: {SoilServiceCap}");
        SoilServiceCap?.Dispose();
    }
}
