@using Blazor.Diagrams.Core.Models.Base;
@using BlazorDrawFBP.Models;;

<div style="background-color: #eee; width: @(Node.Size!.Width)px; padding: 5px;">
    @if (Model is NodeModel)
    {
        <div>Width: @Node.Size.Width</div>
        <div>Height: @Node.Size.Height</div>
        <div>Ports: @Node.Ports.Count</div>
        <div>Links: @(Node.Links.Count + Node.PortLinks.Count())</div>
    }
    else if (Model is LinkModel)
    {
        <div>Width: @Link.Width</div>
        <div>Color: @Link.Color</div>
        <div>LLabel: @Link.Labels[0].Content</div>
        <div>RLabel: @Link.Labels[2].Content</div>
    }
</div>

@code
{
    [Parameter]
    public NodeInformationControl Control { get; set; } = null!;

    [Parameter]
    public Model Model { get; set; } = null!;

    public NodeModel Node => (Model as NodeModel)!;
    public LinkModel Link => (Model as LinkModel)!;
}