@using Blazor.Diagrams.Components.Renderers;
@using BlazorDrawFBP.Models;

<div>
    <MudTextField Required 
                  T="@string" 
                  @bind-Value="@Node.LabelModel.Content"
                  AutoFocus="@true"
                  Label="@Node.Label" 
                  Variant="@Variant.Outlined"
                  OnBlur="@OnBlur"
                  OnKeyUp="@OnKeyUp"/>
</div>

@code {
    [Parameter] public UpdatePortNameNode Node { get; set; } = null!;

    bool _alreadyRemoved = false;
    
    void OnBlur(FocusEventArgs e)
    {
        // Console.WriteLine("OnBlur");
        if (_alreadyRemoved) return;
        Node.LabelModel.Refresh();
        Node.PortModel.Name = Node.LabelModel.Content;
        Node.PortModel.Refresh();
        Node.Container.Nodes.Remove(Node);
    }

    void OnKeyUp(KeyboardEventArgs e)
    {
        // Console.WriteLine("OnKeyUp Enter pressed");
        if (e.Key != "Enter") return;
        Node.Container.Nodes.Remove(Node);
        Node.LabelModel.Refresh();
        Node.PortModel.Name = Node.LabelModel.Content;
        Node.PortModel.Refresh();
        _alreadyRemoved = true;
    }
}