@using Blazor.Diagrams.Core.Models.Base;

<div>
    <MudFab Size="Size.Small"
            Color="Color.Primary"
            StartIcon="@Icons.Material.Filled.Edit"/>
    @*<MudToggleIconButton @bind-Toggled="@Control.NodeModel.Editable"
                         Icon="@Icons.Material.Filled.Edit" Color="@Color.Success" Title="Edit component"
                         ToggledIcon="@Icons.Material.Filled.EditOff" ToggledColor="@Color.Error" ToggledTitle="Edit off"/>*@
</div>

@code
{
    [Parameter]
    public ToggleEditNodeControl Control { get; set; } = null!;

    [Parameter]
    public Model Model { get; set; } = null!;
}